{%extends "base.html"%}
{%block contenido%}
<h1>Acerca del creador</h1>
<h3>Que me gusta</h3>
<p> acerca de mi me gusta mucho tirar hueva, las costillas con bbq y quedarme en la casa a jugar videojuegos y tambien ver series en mis tiempos libres</p>
<h3>Como me veo a futuro</h3>
<p>la verdad nunca lo he pensado como me podria ver a futuro ya que nunca he tenido el tiempo de reflexionar pero pensandolo ahora mismo pienso tener una vida 
    tranquila con un trabajo estable y con una buena familia sin ningun problea laboral.
</p>
<h3>Habilidades</h3>
<p> Yo me considero una persona que no tiene habilidades en ningun campo probablemente me falta explorar mas campos para entenderme a mi mismo.
</p>

{%endblock%}