{%extends "base.html"%}
{%block contenido%}
<h2>Animales Exoticos</h2>
<p>Los animales exóticos son aquellos que no son nativos de una región específica y suelen ser considerados inusuales o poco comunes en comparación con la fauna local. Estos animales pueden provenir de diferentes partes del mundo y a menudo tienen características únicas que los hacen destacar. Algunos ejemplos de animales exóticos incluyen el camaleón, el perezoso, el tucán, el dragón barbudo y el axolote. Muchas personas encuentran fascinantes a estos animales debido a su apariencia inusual y sus comportamientos distintivos. Sin embargo, es importante recordar que la tenencia de animales exóticos como mascotas puede requerir cuidados especiales y consideraciones éticas para garantizar su bienestar.</p>



{%endblock%}