{%extends "base.html"%}
{%block contenido%}
<h2>vehiculos antiguos</h2>
<p> Los vehículos antiguos, también conocidos como autos clásicos o vehículos de época, son automóviles que fueron fabricados hace varias décadas y que hoy se valoran por su diseño, historia y mecánica. Generalmente, se considera "antiguo" a un vehículo con más de 30 años de antigüedad, aunque esto puede variar según el país. </p>
<p>El primer vehículo motorizado de la historia fue creado en el siglo XIX. Uno de los pioneros más reconocidos fue Karl Benz, quien en 1886 construyó el Benz Patent-Motorwagen, considerado el primer automóvil con motor de combustión interna diseñado para funcionar con gasolina. </p>
<p>En aquellos años, los vehículos eran un lujo reservado para la élite. Eran máquinas artesanales, lentas y poco confiables en comparación con los estándares actuales, pero marcaron el inicio de una revolución tecnológica.</p>
<ul>
  <li>
    Ford Ford Model T (1908): El Ford Model T fue el primer automóvil producido en masa, lo que lo convirtió en el primer coche accesible para la clase media. Con un diseño simple, resistente y confiable, revolucionó el transporte personal y es considerado el auto que puso al mundo sobre ruedas.
    </li>
    <img src ="{{url_for('static', filename='img/frd.jpg')}}" alt="ford model t" class="img-fluid" width="300" height="300">
  <li>
    Chevrolet Chevrolet Bel Air (1957): El Chevrolet Bel Air es uno de los autos clásicos más icónicos de Estados Unidos. Con su carrocería brillante, aletas traseras y mucho cromo, representaba el auge económico y el estilo de vida americano de los años 50. Era sinónimo de elegancia y potencia.
</li>
    <img src ="{{url_for('static', filename='img/chv.jpg')}}" alt="chevrolet bel air" class="img-fluid" width="300" height="300">
  <li>
    <p>Mercedes-Benz Mercedes-Benz 300 SL (1954):  Famoso por sus puertas en forma de alas de gaviota, el Mercedes-Benz 300 SL fue uno de los autos más innovadores de su tiempo. Fue el primer coche de producción con inyección directa de combustible y combinaba lujo, velocidad y tecnología alemana de punta.
</li>
    <img src ="{{url_for('static', filename='img/mrc.jpg')}}" alt="mercedes benz 300 sl" class="img-fluid" width="300" height="300">
  <li>
    <p>Citroën Citroën 2CV (1948): El Citroën 2CV fue diseñado como un coche económico y práctico para las zonas rurales de Francia. Podía circular por caminos de tierra, transportar cargas ligeras y consumir poco combustible. Aunque era sencillo, se volvió un símbolo del ingenio francés y de la posguerra europea.
</li>
    <img src ="{{url_for('static', filename='img/cit.jpg')}}" alt="citroen 2cv" class="img-fluid" width="300" height="300">
  <li>
    <p>Rolls-Royce Rolls-Royce Silver Ghost (1906):El Silver Ghost fue uno de los primeros modelos de Rolls-Royce y se ganó la reputación de ser "el mejor coche del mundo" por su suavidad, fiabilidad y lujo. Su producción artesanal y su elegancia lo convirtieron en un auto exclusivo para la élite de la época.
</li>
    <img src ="{{url_for('static', filename='img/roll.jpg')}}" alt="rolls royce silver ghost" class="img-fluid" width="300" height="300">
    </ul>

{%endblock%}