{%extends "base.html"%}
{%block contenido%}

 <div class="container text-center mt-5">
      <div class="row align-items-start">
        <div class="col"></div>
        <div class="col">
        <div class="card shadow rounded-3 p-3 text-start">
  <h5 class="card-title mb-4 text-center">Crear nueva cuenta</h5>
   <p class="text-center text-muted mb-3">Es rápido y fácil.</p>
  <form>
    <div class="row g-2">
      <div class="col">
        <div class="mb-3">
          <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required minlength="3" maxlength="100"
          value="{{request.form.get('nombre', '')}}" />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required minlength="3" maxlength="100" />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Correo electrónico o número de móvil:</label>
      <input type="email" id= "email" name="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control" id="password"/>
    </div>
    <div class="mb-3">
      <label class="form-label">confirmar contraseña</label>
      <input type="password" name="password" class="form-control" id="password"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Fecha de nacimiento:</label>
      <input type="date" class="form-control" id="Fecha"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Género:</label><br />
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="genero" value="mujer" />
        <label class="form-check-label">Mujer</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="genero" value="hombre" />
        <label class="form-check-label">Hombre</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="genero" value="personalizado" />
        <label class="form-check-label">Personalizado</label>
      </div>
      <input type="text" name="genero_personalizado" class="form-control mt-2" placeholder="Especifica tu género" />
    </div>
    <p class="text-muted" style="font-size: 12px;">
      Al hacer clic en Registrarte, aceptas nuestras Condiciones, la Política de datos y la Política de cookies. Es posible que recibas notificaciones por SMS y puedes darte de baja en cualquier momento.
    <button type="submit" class="btn btn-success w-100 mt-3">Registrarte</button>
  </form>
</div>

        </div>
        <div class="col"></div>
      </div>
    </div>
{%endblock%}