{%extends "base.html"%}
{%block contenido%}
<h1>Las 7 maravillas del mundo</h1>
<ul>
    <h3>1.la gran muralla china</h3>
    <li>Fue construida alrededor del año 220 a.C. por el primer emperador Qin Shin Huang, quien ordenó reunir los tramos de fortificaciones construidas anteriormente, a fin de crear un sistema de defensa contra las invasiones de los pueblos del Norte, revela la Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura (Unesco, por sus siglas en inglés).</li>
    
    <h3>2.Chichen Itzá, México</h3>
    <li>Chichén Itzá es una ciudad maya de la península de Yucatán (México) que floreció en los siglos IX y X. De acuerdo con Unesco, esta ciudad sagrada fue uno de los centros más importantes de la civilización maya. </li>
    
    <h3>3.Petra, Jordania</h3>
    <li>Petra es uno de los sitios arqueológicos más célebres del mundo. Se encuentra en la actual Jordania en un valle remoto, entre montañas de arenisca y acantilados. En parte está esculpida en roca y en parte construida en medio de las montañas surcadas por pasos y desfiladeros.</li>
    
    <h3>4. Machu Picchu, Perú</h3>
    <li>Otra de las maravillas del mundo moderno localizadas en Latinoamérica es Machu Picchu. Ubicado a 2430 metros de altura en medio de un bosque tropical de montaña, el santuario es considerado una de las realizaciones arquitectónicas más imponentes del Imperio Inca. Desde 1983 es parte del patrimonio mundial.</li>
    
    <h3>5. Cristo Redentor, Brasil</h3>
    <li>El emblemático Cristo Redentor que se encuentra en la cima del monte Corcovado en Río de Janeiro (Brasil) es otro de los destinos destacados. La emblemática construcción comenzó en 1926 y finalizó cinco años más tarde. </li>
    
    <h3>6. Coliseo, Italia</h3>
    <li>El Coliseo de Roma es considerada una proeza de ingeniería construida en el siglo I por orden del emperador Vespasiano, señala Britannica. El anfiteatro mide 189 por 156 metros y cuenta con un complejo sistema de bóvedas. En su apogeo, la estructura tenía capacidad para 50 000 espectadores que podían apreciar luchas de gladiadores y combates entre hombres y animales.</li>
    
    <h3>7. Taj Mahal, India</h3>
    <li>La séptima maravilla del mundo moderno es el Taj Mahal, en la India. Se trata de un imponente mausoleo de mármol blanco edificado entre los años 1631 y 1648 por orden del emperador mogol Shah Jahan para perpetuar la memoria de su esposa favorita, explica la Unesco.</li>
</ul>
{%endblock%}